#sidebar{
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    position: fixed;
    z-index: 1000;
}
#sidebar:active {
    width: 220px;
    position: fixed;
}

#sidebar:hover {
    width: 220px;
    position: fixed;
  }

.sidebar-hover:hover{
    background-color: rgb(48, 48, 48);
    padding: 15px;
}
