#sidebar{
    width: 60px;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
    position: absolute;
    z-index: 1000;
}
#sidebar:active {
    width: 220px;
    position: absolute;
}

#sidebar:hover {
    width: 220px;
    position: absolute;
  }


.sidebar{
    position: absolute;
    
}

.sidebar-hover:hover{
    background-color: rgb(48, 48, 48);
    padding: 15px;
}
