
<div class="conteudo-login" style="width: 100vw; height: 100vh;" [ngStyle]="{'background-color': background}">
    <div class="card ">
      <form class="conteudo-form " style="min-width: 350px;" [formGroup]="LoginForm" (submit)="submitLogin()">
        <div class=" card-body">
            <div class="logo" style="display: flex; justify-content: space-around;">
                <div *ngIf="logo">
                    <img width="150" height="150" src="assets/img/{{logo}}" alt="">
                </div>
                <img width="150" height="150" src="assets/img/logos/wagentech.png" alt="">
            </div>
        
            <div>
                <div>
                  <input class="input-login" type="username" id="username" formControlName="username" placeholder="Email"/>
                </div>
            </div>
            <div>
                <div>
                  <input class="input-login" type="password" id="password" formControlName="password" placeholder="Senha"/>
                </div>
            </div>
            <div>
              <button class="button-login" type="submit" [disabled]="!LoginForm.valid">Entrar</button>
            </div>
        </div>
      </form>
    </div>
</div>
