<div class="container-fluid">
    <div class="card m-3">
        <div class="card-body">
            <span class="h4 font-weight-bold">Ordem de Serviço</span>
        </div>
    </div>
    
    <div class="card m-3">
        <div class="card-body">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>

          <div class="d-flex justify-content-end m-2">
            <a (click)="salvarOrdemServico()" class="btn btn-success">Salvar</a>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cad-cliente></app-cad-cliente>

      </div>
      
    </div>
  </div>
</div>
