<!-- app.component.html -->
<div class="container mt-3">
    <form [formGroup]="cliente" (ngSubmit)="onSubmit()" class="row">
        <div class="form-group col-2">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" formControlName="cpf" required>
        </div>
        <div class="form-group" class="col-3">
            <label for="nm_primeiro">Nome:</label>
            <input type="text" class="form-control" id="nm_primeiro" formControlName="nm_primeiro" required>
        </div>
  
        <div class="form-group col-3">
            <label for="nm_ultimo">Sobrenome:</label>
            <input type="text" class="form-control" id="nm_ultimo" formControlName="nm_ultimo" required>
        </div>
    
        <div class="form-group col-2">
            <label for="celular">Celular:</label>
            <input type="text" class="form-control" id="celular" formControlName="celular" required>
        </div>
    
        <div class="form-group col-2">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" id="telefone" formControlName="telefone">
        </div>
    
        <div class="form-group col-3">
            <label for="rg">RG:</label>
            <input type="text" class="form-control" id="rg" formControlName="rg" required>
        </div>
    
        <div class="form-group col-3">
            <label for="dat_nasc">Data de Nascimento:</label>
            <input type="text" class="form-control" id="dat_nasc" formControlName="dat_nasc" required>
        </div>
    
        <div class="form-group col-3">
            <label for="sexo">Sexo:</label>
            <input type="text" class="form-control" id="sexo" formControlName="sexo" required>
        </div>
    
        <div class="form-group col-3">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
        </div>
        <div class="col-12">
            <br/>
        </div>
        <div class="form-group col-3">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" id="cep" formControlName="cep" required>
        </div>
    
        <div class="form-group col-7">
            <label for="rua">Rua:</label>
            <input type="text" class="form-control" id="rua" formControlName="rua" required>
        </div>
    
        <div class="form-group col-2">
            <label for="numero">Número:</label>
            <input type="text" class="form-control" id="numero" formControlName="numero" required>
        </div>
    
        <div class="form-group col-4">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro" required>
        </div>
    
        <div class="form-group col-4">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" formControlName="cidade" required>
        </div>
    
        <div class="form-group col-4">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" required>
        </div>
    </form>
  </div>
  

  